<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />

    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Css/signup.css" rel="stylesheet">

    <title>优特丽纯天然果汁品鉴会</title>
</head>
<body>
<div id="divTop">
    <div id="shareImage"></div>
    <div id="title"></div>
    <br>
</div>


<div id="divBody">
    <div id="divBodyA" align="center">
        <h3>报名成功</h3>
        <h4>扫描下面二维码关注我们吧！</h4>
        <img src="__PUBLIC__/Images/Nutry/qrcode.jpg" width="200px" height="200px">
    </div>
</div>
<div align="center">
    <img src="__PUBLIC__/Images/Nutry/shadow.png" width="300px" height="43px">
</div>


<script src="__PUBLIC__/Js/jquery.js"></script>
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>