<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />

    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Css/invitation.css" rel="stylesheet">
    <link href="__PUBLIC__/Js/fullPage/jquery.fullPage.css" rel="stylesheet">

    <title>活动邀请涵</title>
</head>
<body>
    <div id="shareImage" style="display: none;">
        <img src="__PUBLIC__/Images/Nutry/logo.png" />
    </div>

    <div id="fullpage">
        <div class="section" id="section1">
            <div id="divTop">
                <img src="__PUBLIC__/Images/Nutry/logo.png" id="imgLogo">
                <p id="line1">优特丽纯天然果汁</p>
                <p id="line2">来自非洲的金奖果汁</p>
            </div>
            <div id="divBottom">
                <img src="__PUBLIC__/Images/Nutry/sun.png" id="imgSun">
                <img src="__PUBLIC__/Images/Nutry/section1_bk.png" id="section1Bk">
                <img src="__PUBLIC__/Images/Nutry/syrup.png" id="imgSyrup">
            </div>

        </div>
        <div class="section" id="section2">
            <label id="p1">果</label>
            <p id="p2">来自非洲</p>
            <p id="p3">优特丽纯天然果汁</p>
            <p id="p4">每颗果源都采自安哥拉</p>
            <img src="__PUBLIC__/Images/Nutry/section2_bk.png" id="section2Bk">
        </div>
        <div class="section" id="section3">
            <img src="__PUBLIC__/Images/Nutry/tbk.png" id="s3Bk">
        </div>
        <div class="section" id="section4">第四页</div>
        <div class="section" id="section5">第五页</div>
        <div class="section" id="section6">第六页</div>
        <div class="section" id="section7">第七页</div>
    </div>

    <script src="__PUBLIC__/Js/jquery.min.js"></script>
    <script src="__PUBLIC__/Js/fullPage/jquery.fullPage.min.js"></script>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Js/move/move.min.js"></script>
    <script src="__PUBLIC__/Js/Nutry/invitation.js"></script>

</body>
</html>